[2018-12-17 14:20] northdakota opened #1 "Sources."
Where is source code?

[2018-12-17 16:09] elkimek opened #2 "Error Installing Zen Daemon"
If switched to fullnode, red error on the left side appears "Error Installing Zend Daemon".

OS: W10 1803 (17134.471)
PS ver:  5.1.17134.407
Logs:

[code]

[2018-12-17 16:12] elkimek commented on #1
Not opensource according to Code Particle dev :(

[2018-12-17 17:10] al73rna commented on #2
Please make sure you have the .net framework 4.5 installed. if not, please install it and try again.
If it is installed and you're still getting the error, please try running these lines in your powershell prompt and try again:
[code]

the problem is that we are relying on powershell to extract the binaries from zipfiles which has some issues of it's own. we will switch to a different solution if

[2018-12-17 17:34] elkimek commented on #2
Did not help. I also tried to extract the files directly to /horizen/zend/ but still getting the same error.

[2019-01-08 18:37] ahillelt commented on #2
Just wanted to confirm, experiencing same issue on Windows 10, with 4.5 installed and running the commands suggest by @al73rna in powershell. ZEN Daemon cannot install, log is similar to @elkimek

[2019-01-08 23:18] VadimMalykhin opened #3 "Transaction History is an empty"
Transaction History is an empty in my last created wallet and transaction a few hours ago in light and full mode. But looks like i can use my funds  ([Transaction ID](https://explorer.zensystem.io/tx/0a865bb4291663e9dd35e1e6404be973e1e523928c57767628f59cb82a20c565))

![Screenshot](https://user-images.githubusercontent.com/158365/50864688-e1cea200-13b3-11e9-8f93-4c66614b31b0.png)

[code]

[2019-01-24 03:24] jasonpulaski opened #4 "Missing secure node payment transaction"
Secure node payment has not shown up days later.  Others have noted similiar situation in discord channel.

Address with 4 payments
https://explorer.zensystem.io/address/znoX77jyqgqT7vhaQcK9K19Eq9HvSoXxowB

![capture](https://user-images.githubusercontent.com/35674327/51652433-985a8700-1f5d-11e9-81d1-a5a8537c6fde.PNG)

[2019-03-09 16:40] elkimek commented on #2
Issue persist in new release. Advice?

[2019-03-21 00:29] Kraymerica opened #5 "Sphere app all white"
Sphere will open up and log in to my wallet normally, but when trying to refresh the balance or go into the wallet the app window goes completely white except the menu bar.  I have rebooted, uninstalled, etc to no avail.  Any ideas or seen this before? 1.0.1-beta

[2019-03-21 03:45] #5 closed

[2019-04-12 15:33] ahillelt commented on #2
Anyone knows what status is of this bug, I think there are quite a few of us that cannot use Sphere at the moment on Windows 10.

[2019-04-25 19:57] zennermac opened #7 "This a test issue for systems integration."
This is a test description for systems integration.

[2019-04-25 21:20] #7 closed

[2019-05-10 04:13] treepi3 commented on #2
I'm experiencing a Zen daemon installation failure on Linux as well. Solus 4.0 Budgie to be exact. I need to full node for privacy too. :(

[2019-05-10 04:19] treepi3 opened #8 "Error Installing Zen Daemon - Linux (Solus 4.0 - Budgie)"
![image](https://user-images.githubusercontent.com/13264659/57502261-90c2b200-72b0-11e9-9f25-1d13336bd85d.png)

I noticed someone posted about this issue with Windows. However, I'm experiencing it in Linux as well with the latest release of the Sphere wallet.

Is there a fix for this? Also, if someone could point me to where the log files would be, I can paste my log in here to see if that helps i

[2019-05-10 11:07] vherus commented on #8
Hi @treepi3

Thanks for the report! We're aware that the zend installation & blockchain sync process can be a little tough to deal with in some situations. This is a super important issue to us, it shouldn't be as difficult as it currently is to sync up the wallets node. In figuring out a solution we are taking every care to ensure we fix this with a high degree of Horizen polish, with the end goa

[2019-05-10 11:13] vherus commented on #4
Hi @jasonpulaski

Please accept my sincere apologies for the lack of activity on this report. Though not an excuse, we were still figuring a few logistics out at the time of the first version release. Thank you for your patience.

Version 1.1.0-beta introduced significant improvements to transaction data handling, if you haven't already done so then I recommend upgrading via this link: https://git

[2019-05-10 11:14] vherus commented on #3
Hi @VadimMalykhin

Please accept my sincere apologies for the lack of activity on this report. Though not an excuse, we were still figuring a few logistics out at the time of the first version release. Thank you for your patience.

Version 1.1.0-beta introduced significant improvements to transaction data handling, if you haven't already done so then I recommend upgrading via this link: https://gi

[2019-05-10 11:16] vherus commented on #2
Hi there

Please accept my apologies for the lack of activity on this report!

Though version 1.1.0-beta fixed many issues, we're aware that the zend installation & blockchain sync process can still be a little tough to deal with in some situations. This is a super important issue to us, it shouldn't be as difficult as it currently is to sync up the wallets node. In figuring out a solution we are

[2019-05-20 15:19] Sto1cNate commented on #8
Hey @treepi3

Have a look at the latest release of Sphere by Horizen.

https://github.com/ZencashOfficial/Sphere_by_Horizen/releases/latest

1.1.1-beta should solve the failure.

[2019-05-20 15:40] Sto1cNate commented on #2
@elkimek
This issue was resolved in a hot fix from 1.1.1-beta
https://github.com/ZencashOfficial/Sphere_by_Horizen/releases/tag/desktop-v1.1.1-beta

@zennermac this issue should be able to be closed.

[2019-05-20 17:13] Sto1cNate commented on #8
@treepi3
You could try removing both of the aforementioned linux directories and then after upgrading Sphere by Horizen to 1.1.1-beta, relaunch it into full mode. It should then do a fresh install of zend and start re-downloading the proving keys.

To remove those directories, open up a terminal and enter the following:
`rm -rd ~/.horizen/zend`
`rm -rd ~/.zcash-params`

You can then upgrade Sphere

[2019-06-06 17:29] angievi opened #10 "CI Improvements"
Revamping RSS feed into github pages and signing the blog post in sphere. Use PGP.

[2019-08-17 22:11] PeaStew opened #14 "Batch withdraw fails with too many vInputs"
Problem: Sphere's new batch withdraw feature appears to be designed with the assumption that only the number of addresses involved in  batch withdraw is relevant to whether a createrawtransaction will be successful when submitting it to the blockchain when in fact in the case of withdrawing from stake addresses it is more likely that the number of input UTXOs is more likely to exceed the tx size l

[2019-08-19 10:47] #4 closed

[2019-08-19 10:48] #3 closed

[2019-08-28 02:58] helpfulBrother opened #15 "Log and wallet file locations"
There seems to be a bug in where the logs are stored for Sphere.

"Sphere by Horizen" seems to be where most of the local data is stored.
"SphereByHorizen" is where the logs folder is stored.

Also wallets are stored in another folder named "horizen" ?

Would be good to have these aligned in a future release?

[2019-08-28 03:00] helpfulBrother opened #16 "[Feature] Sanatise wallet import seed text"
When importing a seed if there are carriage returns the import will fail, please strip these and other characters from the input so that only the seed words are imported.

[2019-08-28 03:04] psyraxaus commented on #16
Just to clarify, this occurs when you display the backup seed phrase and then do a copy and paste into a document or new wallet in Sphere resulting in a list like:

instead of

[2019-09-02 14:11] #2 closed

[2019-09-13 11:43] DatDraggy opened #17 "Receiving from external Z Address to Sphere results in "Sent from: Coinbase""
Title explains it basically. Kinda confusing.

All I did was send ZEN from a Z Address in Swing to a T Address in Sphere.

https://explorer.horizen.global/tx/ba470a1e47fac66775cc2ed726f267e97d80542e7811e6b3f069cda45f9c851e
![Screenshot](https://img.kieran.de/JlOw3va.png)

[2019-09-19 10:03] vherus commented on #17
Hi @DatDraggy

It's tough to determine whether a private transaction received from a wallet outside of Sphere (like Swing) is a coinbase transaction, or simply a private transaction. I believe the original decision was to treat any external private funds that are received as a coinbase transaction, but we'll certainly revisit this and decide whether it's the correct way to go.

Thanks for your rep

[2019-09-19 10:21] vherus commented on #1
Open-sourcing Sphere is most certainly planned. Though I can't give any dates, you should expect it to happen following the release of sidechains. This should allow us to get the app out of beta status, and will provide a way for developers to see how sidechains can be utilised in the applications they develop.

[2019-09-19 10:21] #1 closed

[2019-10-14 01:28] psyraxaus opened #19 "Feature request: Derivation path for addresses listed in each wallet"
Hi team,

I have seen some issues personally and in support where addresses created after an import of existing seed go missing (or not scanned) when the seed is imported into a new wallet.

Would it be possible please to add a flag in the wallet settings to allow for a "dev mode" or similar where the derivation path of each address is visible when viewing a specific address.

This would aid in fi

[2019-11-24 22:38] psyraxaus opened #21 "Error Initializing Zen Daemon if rescanning due to using a bootstrap"
Hi team,
I received the following error
<img width="350" alt="Screen Shot 2019-11-25 at 9 26 19 am" src="https://user-images.githubusercontent.com/33170913/69502672-ea957b80-0f65-11ea-928e-9a1fdaa90f84.png">

This error occurred when a rescan was being performed after I used a bootstrap of the blockchain.

Version 1.2.2-beta with 2.0.19 zend binary, OSX 10.15.1 (19B88)

Steps to reproduce:
1) Crea

[2020-01-23 16:47] hdrsrt07 commented on #19
Harika

[2020-02-15 04:30] lookfirst opened #23 "Unable to import Arizen wallet"
There should be a mechanism to import an arizen wallet.

[2020-02-29 23:54] ArnaudKleinveld commented on #1
Is this real or fake? Now Mar 1, 2020 and still no sources..

[2020-03-09 00:32] Aubynj opened #26 "Currency Reading"
I don't know if it a bug or error, currency reading shows **0.00** for all currency. I think horizon devs need to check this

[2020-03-09 09:31] bellionaire commented on #26
I am also seeing this issue in both Sphere by Horizen for Mac and Linux version 1.2.4-beta. On Linux it is showing 0.00 and on Mac it is not refreshing / updating the currency value under Total Balance.

[2020-03-18 17:10] mstefancic opened #27 "Batch witdrawal doesnt keep correct number of coins on account"
Made batch withdrawal with amount to keep: 42 but amount left on all addresses was 41.699

All coins are safe on address they were withdrawn but wrong amount was kept.

<img width="936" alt="Screenshot 2020-03-18 at 18 02 42" src="https://user-images.githubusercontent.com/4647399/76987506-94e54480-6943-11ea-9597-dd7f467e42a2.png">

<img width="278" alt="Screenshot 2020-03-18 at 18 09 53" src="http

[2020-04-07 13:29] cronicc commented on #26
Fixed in v1.2.5-beta.

[2020-04-07 13:29] #26 closed

[2020-04-29 02:59] uanl979 commented on #8
Will be closing this issue since this is not a supported operating system.

Supported Operating Systems

[2020-04-29 03:41] uanl979 commented on #23
Hi @lookfirst

Since Sphere is deterministic, meaning that the private keys are generated from a seed. It is not possible to import private keys not generated from a starting point (a seed). The closest feature that could help you move your balances to sphere is to sweep balances and move them to addresses inside Sphere. You can find this option under tools in the menu bar.

I imagine you have sta

[2020-04-29 04:37] #23 closed

[2020-04-30 16:44] #8 closed

[2020-05-19 06:54] PeaStew commented on #27
Seconded, this happened to me yesterday ith batch withdrawal.

[2020-05-21 12:51] ahilis opened #30 "Can't create and restore wallet"
There is a problem, nothing happens after click on a button to create or restore a wallet. UI blinks for a moment and hanging with message "Restoring wallet...", "Refresh balance" icon keeps spinning
Windows 10. But on a laptop with the same OS works well. Any suggestions?

Last rows from log file:
[2020-05-21T17:46:33.0508Z] [info] =========== win32 platform ===========
[2020-05-21T17:46:33.0509Z

[2020-05-26 13:03] uanl979 commented on #30
Hey @ahilis

I have several questions

- Did you left the app opened for a while?
- Are you operating your wallet in full mode?
- Does this happens always, even after restarting the application?

If you like, I can open a ticket on your behalf, in our support system. Just need an email from you.

[2020-05-26 14:20] ahilis commented on #30
- Sure, for a long time
- No
- Yes
But eventually, I've found the solution, thanks to support channel in discord. I uninstalled all versions and installed the latest one. Oh yes, and I erased %AppData%/horizen and created new wallet

[2020-06-01 11:17] uanl979 commented on #30
I'm glad you found the solution on discord!

Will be closing this issue since it's been solved.

If you have any further questions or any future doubts, please raise a ticket at our support system :)

We offer support 24/7:
https://support.horizen.global/

[2020-06-01 11:17] #30 closed

[2020-06-01 11:22] uanl979 commented on #27
Thank you for reporting this @PeaStew @mstefancic

This issue is already documented and considered to be fixed in the future, I'll keep you guys posted once we have a release that fixes this issue.

Thanks

[2020-06-03 11:26] MrClayPole opened #32 "Addtional T addresses not appearing on second instance of the Sphere wallet"
When running a second instance of the same sphere wallet new T-addresses are not picked up on another instance.

To recreate the issues

1. Create a new Sphere by Horizen wallet
2. Install Sphere by Horizen on another device
3. Restore the "seed words" to the second instance
4. Create new T-Address on one of the 2 devices
5. Send some Zen to the new t-address

It then fails to appear on the other

[2020-06-05 02:29] uanl979 commented on #32
Hi @MrClayPole

What you are experiencing is an expected behaviour from the wallet.

Sphere wallet was not designed to handle more than one instance of the same wallet (same seed phrase) in other devices at the same time. Therefore the lack of an address sync functionality.

You can manually trigger an "address sync" by restoring the wallet. I do agree that that this process is cumbersome. Neverth

[2020-06-06 17:34] MrClayPole commented on #32
Thanks for taking the time to reply. It would be a nice feature to have especially when you release your mobile wallet. For the time being, I'm going to test syncing the "~/.config/Sphere by Horizen" dir between my laptop and my desktop. I know this could run it to issues with partial sync's but I can manually manage this to ensure I only sync when the app is not running.

Are any other folder pat

[2020-06-09 11:04] uanl979 commented on #32
You will need to be synching the wallet file located in the Horizen folder.

- Please look at this article. https://horizenofficial.atlassian.net/wiki/spaces/ZEN/pages/716734513/Sphere+5.2+-+What+Are+The+File+Locations+For+Sphere

- This will be prone to wallet corruption when copying and replacing the wallet file with the most updated one, when doing this be sure Sphere is closed, IMO it is way m

[2020-06-13 18:28] uanl979 commented on #32
Hi there we already added this feature request on our to do list. Do not forget that we offer support to our community 24/7 at our Helpdesk
[support.horizen.global/](https://support.horizen.global/)

There is no ETA for getting this feature implemented, but I'll keep you posted whenever we start to target to implement this feature.

I will be closing this issue, if you have any additional doubts o

[2020-06-13 18:28] #32 closed

[2020-06-25 07:35] mstefancic opened #33 "Feature request: Remember Addresses: Zero Balance option"
Possibility to save zero balance address show on/off between logins,
maybe also option in the settings for this.

Currently it is always ON(show) after login

[2020-06-27 20:05] marsarem opened #34 "Not able to delete a wallet when there are no address in it"
How to reproduce the bug :
Restore a wallet from a random seed phrase. If there are no address in the wallet, when we click on the button which delete the wallet nothing happens. To delete the wallet we need to create an address then click on the delete button.

[2020-07-02 14:16] uanl979 commented on #33
hi @mstefancic

Thank you for your input, I will add this suggestion to our backlog items as an improvement, I will keep you posted whenever we release sphere with this new feature.

Regards

[2020-07-02 14:46] uanl979 commented on #34
Hi @marsarem

hi, this is already a known issue and will be fixed in future releases, thanks for your feedback and for reporting this. I will keep you posted on here as soon as we have a release that fixes this.

Do you mind if I close the ticket?
Regards

[2020-07-24 07:48] ChurchOfNotNothing opened #36 "When Refreshing Wallet Balance - Get Error (Using Version 1.2.7-beta)"
At the beginning of the month I logged-in and everything was great. I went back in and got the error in a red box. I then came here to github and downloaded the newest version (Version 1.2.7-beta) and logged-in...got the same thing.

Not sure what is happening. This seems very strange.
![refresh-error](https://user-images.githubusercontent.com/26633196/88370688-87602100-cd60-11ea-95e3-9503a72a282b

[2020-07-24 14:41] angievi commented on #36
Hi! @ChurchOfNotNothing could you please open a ticket here: https://support.horizen.global/ .

In the ticket please also send us your IP address/ISP or VPN if you have any, so we can have a closer look at this.

thank you!

[2020-07-24 15:59] angievi commented on #36
Also, @ChurchOfNotNothing please send us any information via the support channel, and if you prefer not to hand over your IP details its ok but we won't be able to help you without it.

Let me know if you need anything else!
Angie.

[2020-07-28 17:46] Masutier commented on #21
I do have this problem but I don't know what's mean "Copied bootstrap to sphereDatadir", what bootstrap?

[2020-07-29 17:38] uanl979 commented on #21
Hi there @Masutier

Would you mind If I raise an issue on your behalf so the support team can provide you help with your issue?
I will need an email for this.

You could even raise the issue yourself here. [support.horizen.global](https://support.horizen.global/)

[2020-07-29 18:34] Cermelli opened #37 "Test sidechain functionalities with Sphere by Horizen 2.0.0"
**HDE task**

Starting points:

- https://github.com/HorizenOfficial/Sidechains-SDK/blob/master/README.md
- https://github.com/HorizenOfficial/zend_oo/blob/sidechains_testnet/README.md

Required steps:
- Download Sphere by Horizen 2.0.0: https://github.com/HorizenOfficial/Sphere_by_Horizen_Sidechain_Testnet/releases/tag/desktop-v2.0.0-beta-sidechain-testnet
- Obtain free test ZEN (tZEN) via the Ho

[2020-07-31 00:51] Masutier commented on #21
Hello
This is my email, masutier@gmail.com or gabrielmasutier@gmail.com, Thank you

On Wed, Jul 29, 2020 at 12:38 PM uanl979 <notifications@github.com> wrote:

--

*Love is the law, Love under will.In loving service.Gabriel E. Masutier*

[2020-08-03 05:49] uanl979 commented on #21
HI @Masutier

We are already providing support in our spanish desk, your ticket is LHD-620

[2020-09-22 17:37] flbouchut commented on #37
Hi !

I wrote a report about this task, here's the link : https://cryptochu.fr/comment-lancer-une-sidechain-horizen-a-partir-du-wallet-sphere-by-horizen/
For now, it's a French report but I can translate it if necessary.

[2020-09-24 14:34] angievi commented on #37
Hi @flbouchut thanks for the report, we will review it and come back to you. Thanks!

[2020-09-26 13:57] luisantoniocrag commented on #37
Hey there! Is there still space available to submit my test?

[2020-09-30 03:18] angievi commented on #37
yes @luisantoniocrag you can still submit your report! please let us know your ETC! Thanks!

[2020-10-05 23:42] SpencerrWhetstone opened #38 "Feature Request: Installation location option"
This request from a Help Desk user:

Indeed, nowadays, many users have a small SSD NVMe that only supports the OS, and it would be really desirable to be able to install the application on a different disk, because the blockchain takes up space, and my problem may also come from there."

[2020-10-07 04:35] menuc commented on #37
I submitted the Chinese version, please check, thank you!
https://drive.google.com/file/d/12xfnQ5Cfwhe4-f6YX_q68VeFMxln50N0/view?ths=true

[2020-10-07 04:36] downsun commented on #37
我提交了中文版本，请检查，谢谢！
https://drive.google.com/file/d/12xfnQ5Cfwhe4-f6YX_q68VeFMxln50N0/view?ths=true

[2020-10-07 21:25] Olivier02400 opened #39 "New feature for next release SphereByHorizen"
Currently, SphereByHorizen automatically installs to the default c:/
However, more and more users are using a small NVMe SSD as a c:/ system disk, with only their OS. Applications are installed on one or more disks.
This is a real problem when you want to run SphereByHorizen in full version, because the full blockchain needs to be downloaded, and it takes a lot of space on the system disk.
It woul

[2020-11-08 06:41] luisantoniocrag commented on #37
Hey @angievi

Here is my report: https://github.com/luisantoniocrag/test-sidechain-functionalities-with-Sphere-by-Horizen-2.0.0

Sorry for the delay. I took the time to research what Horizen does with the side chains. This approach is great and I will be very aware of its development.

[2020-11-08 21:09] angievi commented on #37
Hi @downsun , could you please follow the steps here to claim your bounty? https://hde.horizen.io/landing-page/bounty-payout-policy , any questions please let me know! thanks :)

[2020-11-08 21:12] angievi commented on #37
Hi! @luisantoniocrag , Thank you for your contribution! We will review it and come back to you in the following days :) best regards!

[2020-11-17 21:13] flbouchut commented on #37
Hi ! I translated my previous report in English and I added it and the French version to the PR #41
I will try to go through the bounty claim process 😊

[2020-11-19 09:51] angievi commented on #37
Hi! @flbouchut I'm reviewing your PR now, I'll come back with an answer soon, in the mean time can you follow the bounty claiming process please? https://hde.horizen.io/landing-page/bounty-payout-policy

[2020-11-19 09:51] angievi commented on #37
Hey @luisantoniocrag can you follow our bounty claiming process please? https://hde.horizen.io/landing-page/bounty-payout-policy thank you!

[2020-11-20 05:32] luisantoniocrag commented on #37
submitted! Thank you. =)

[2020-12-01 15:06] angievi commented on #37
Hey @flbouchut could you please fill out the form so we can proceed with payment? here is the link: https://hde.horizen.io/landing-page/bounty-payout-policy

if you have any questions please send me an email to: angie@horizen.io

thank you!

[2020-12-01 21:10] flbouchut commented on #37
Submitted ! Ty !

[2020-12-03 09:55] bricou26 commented on #37
Hi !

I wrote a guide about this task, here's the link : https://investisseurcrypto.com/wp-content/uploads/2020/12/Test-de-fonctionnalites-de-la-sidechain-avec-Sphere-de-Horizen-2.0.0.docx

The guide is in French but I can translate it if necessary.

[2020-12-04 09:14] gernoox opened #42 "Javascript error ENAMETOOLONG awd file backup"
OS: Ubuntu 20.04LTS / Kernel 5.4
Sphere Version: 1.2.8-Beta
Once zend is synced, I get that recursive error that makes Sphere unusable.

![Capture_sphere](https://user-images.githubusercontent.com/23701805/101125680-19731280-35fa-11eb-9620-3950dd49b678.JPG)

[2020-12-08 13:17] angievi commented on #37
Hi @bricou26! Your submission is currently under review, I'll post here the following steps in case it complies with the requirements for the task.

Thank you for contributing to HDE!
Angie.

[2020-12-08 14:37] cronicc commented on #42
@gernoox Is your /home filesystem FAT32 by any chance?
https://stackoverflow.com/questions/54741533/nodejs-enametoolong-how-long-is-too-long

[2020-12-08 15:24] angievi commented on #37
@bricou26 could you please follow the steps to fill the bounty form? : https://hde.horizen.io/landing-page/bounty-payout-policy

Any questions, let me know!

Angie.

[2020-12-08 15:57] gernoox commented on #42
@cronicc no no !! My filesystem is Ext4, in doubt: I "force fsck"-ed it without error.
I use Sphere since almost 2y, every updates took place without issue.
Since halving, I get that error, strange isn't it !?
Ps: I have several backups and snapshots (I use vSphere VM system) so I'm absolutely not worried :-)
I will start a copy backup and see if ENAMETOOLONG error will come back.

[2020-12-09 09:09] bricou26 commented on #37
The process have been completed :)

Do i need to close my pull request ?

Brice.

[2020-12-09 20:03] gernoox commented on #42
Update
I started an old VM backup(sept-20) with Sphere v1.2.7 / Ubuntu 18.04.
I updated Sphere to 1.2.8 ; Zend updated too.
Sync began: no problem, several hours later: ONLY WHEN Zend is fully synced : the ERROR appears and Sphere becomes unusable.
There is a way to change the name of that f*cking awd file in the Sphere conf somewhere ?

[2020-12-09 21:36] gernoox commented on #42
Update
Just create a new account for test: same error.

![Capture_sphere2](https://user-images.githubusercontent.com/23701805/101691180-9aa12e00-3a6e-11eb-8e68-8df346561b9f.JPG)

[2020-12-10 10:36] paolocappelletti commented on #42
hi @gernoox , that file is the wallet file, cannot be renamed. there is a new feature on the latest Sphere that automatically makes a  backup copy of the file on every change, and that operation seems to fail on your installation.
Can you check if you have set an encrypted filesystem for your home folder? I found a similar issue from a user having eCryptFS  enabled  - https://github.com/npm/npm/is

[2020-12-11 14:00] gernoox commented on #42
Hi @paolocappelletti
YeeeeeeeeeeS. F*ck !! You're right :-)
Indeed my /home is encrypted; So follow your advice: I symlinked the 'wallets' folder outside the encrypted zone...
and it's confirmed -> Sphere is running fine.
Thank you very very very much **Sir**.
Ed_

[2020-12-11 14:00] #42 closed

[2020-12-17 10:36] Mlhozgr commented on #37
Hi Angie. I completed task , now i am writing about my report.Should i use English or can i use my native language?

[2020-12-17 15:24] angievi commented on #37
What is your native language?

[2020-12-17 15:25] Mlhozgr commented on #37
Turkish.If it is neccesary i can translate to English.

[2020-12-17 15:28] angievi commented on #37
Turkish language will be a great addition!! please provide both turkish and english :)
Afterwards the team will review and I'll come back to you if the task fills the requirements so that you can proceed for the bounty.
thanks!!

[2020-12-22 15:09] Kolush1 commented on #37
Hey there! Is there still space available to submit my task? I'm French so I'll write it in French but I can also translate in English if needed.

[2020-12-22 17:49] angievi commented on #37
Hi @Kolush1 yes, you can still submit your report! english language will be perfect!
Let us know when you have it ready, thanks for contributing to HDE!

[2020-12-23 19:14] Kolush1 commented on #37
Hi @angievi ! Here is my French report : https://drive.google.com/file/d/1y_zZ6ew-J8VOVDc9PPYd9gjoy1uuUfFQ/view.
I will translate it into English very soon, I will post the link as soon as it is done. Any comments please let me know :D

[2020-12-24 18:23] Mlhozgr commented on #37
Hi Angie. Here is my report that is both Turkish and English. https://drive.google.com/file/d/1cL8Ev1pCiPT53Gnpi-rnhZcdrtbOUNdX/view?usp=sharing

[2020-12-29 10:18] infinitEnigma commented on #37
Hey there, is this test still open? I would like to give it a try, wallet is currently syncing with blockchain.

[2020-12-29 15:51] angievi commented on #37
Hi @Kolush1 , can you please fill out the following form to claim the bounty: https://hde.horizen.io/landing-page/bounty-payout-policy , thank you!

[2020-12-29 15:57] angievi commented on #37
Hello! @infinitEnigma yes, you can still participate on this HDE task! please provide your report with the instructions and format so we can review, thanks for contributing to HDE!

[2020-12-29 15:58] angievi commented on #37
There are still 3 spots available for contributing to this HDE issue!

Thank you all of those who have contributed already to HDE :)

[2020-12-29 15:59] Mlhozgr commented on #37
Angie?

[2020-12-29 16:22] Mlhozgr commented on #37
Are you still evaluating my report? Can you answer to me please?

[2020-12-29 17:14] angievi commented on #37
Hi! @Mlhozgr yes, your report is currently under evaluation, I'll get back to you as soon as it is completely reviewed :) thank you!

[2020-12-29 17:53] infinitEnigma commented on #37
Hi @angievi, I've just finished testing and I'm preparing the report. Would you like a translation into Serbian as well?

[2020-12-29 20:25] Kolush1 commented on #37
Hi @angievi ! The form is filled and here is my Engligh report : https://drive.google.com/file/d/12dLMmN4o7Tareu-KCl-PUqT1hi7i0Pa3

Have a nice end of the year!

[2020-12-29 21:45] infinitEnigma commented on #37
@angievi here is my English test report:
https://github.com/infinitEnigma/HorizenSideChains_test

[2020-12-30 14:55] angievi commented on #37
Hello @infinitEnigma , your report is under evaluation and please also provide it in Serbian, it will be very useful for the community! thank you

[2020-12-30 15:29] angievi commented on #37
Hi! @Mlhozgr can you please fill out the following form to claim the bounty: https://hde.horizen.io/landing-page/bounty-payout-policy , thank you!

[2020-12-30 20:50] infinitEnigma commented on #37
Hello @angievi, here's a link to the Serbian translation:
https://github.com/infinitEnigma/HorizenSideChains_test/blob/main/SideChainTest_SerbianTranslation.md
😃

[2021-01-05 02:34] downsun commented on #37
I submitted a request，thanks

[2021-01-05 13:57] angievi commented on #37
Hi @infinitEnigma , please also translate to serbian! :) your contribution is under review atm! thanks!!

[2021-01-05 14:37] infinitEnigma commented on #37
Hi @angievi,  here's a link to the Serbian translation:
https://github.com/infinitEnigma/HorizenSideChains_test/blob/main/SideChainTest_SerbianTranslation.md
and English version: https://github.com/infinitEnigma/HorizenSideChains_test/blob/main/README.md

[2021-01-06 08:04] downsun commented on #37
This is the Chinese version I submitted:

https://github.com/downsun/Horizen-/blob/main/README.md

I added LICENSE.

Where did you submit the Zen address？

What else do you need?

[2021-01-06 18:22] Mlhozgr commented on #37
Hello Angie. I performed the necessary steps 7 days ago. When can I get the bounty?

[2021-01-07 15:31] angievi commented on #37
Please wait while we finish to review and the request for payment will be sent shortly, thanks!

[2021-01-07 15:40] angievi commented on #37
Hi, can you please submit your request again:  https://hde.horizen.io/landing-page/bounty-payout-policy and also add your information and send it here: angie@horizen.io please? thanks!

[2021-01-08 00:03] francov99 commented on #37
Hello everyone, here I share my first report for horizen https://docs.google.com/document/d/1GDporsABahLHUP_eVIR8UPM9LjnLUXo7uAahz4Fjvrs/edit?usp=sharing

[2021-01-08 15:27] angievi commented on #37
Hi @francov99 your report is being reviewed, I'll come back to you if it complies with the requirements and the process to follow to apply for the bounty! thanks!

[2021-01-08 16:45] infinitEnigma commented on #37
Hi @angievi, what is the status of my report? Should I fill the bounty form?

[2021-01-11 12:06] greasyy opened #47 "Remove blanks from the address field"
I made several addresses and copied and pasted them into the address book, but I couldn't send any coins to them because I copied blanks in front of the address too. I had a ton of money sitting in the wallet and was frightened it might be a bug and Sphere showed me an address from which I don't own the private key until I discovered the blanks.
Many people are experiencing the same problem and th

[2021-01-11 12:14] greasyy opened #48 "Make entrys in the address book unique"
When using the address book it is possible to make a number of entrys and name them the same. I can e. g. make 10 address entrys with the name "Address 01" and can't differentiate them from one another by name anymore.
Entries in the address book should be unique, so they can be distinguished from one another.

Also the same address can be entered multiple times in different entries, they should b

[2021-01-11 17:41] angievi commented on #48
Thanks for making us aware of this issues and improvements, we'll add them to our backlog! @greasyy

[2021-01-11 22:28] Kolush1 commented on #37
Hi @angievi / others, could you please give us some updates on the advancement of the reviews / bounties ?

[2021-01-12 10:21] angievi commented on #37
Hi @Kolush1 @Mlhozgr @downsun your contributions have been reviewed and approved. Your bounties should arrive soon. Thanks for contributing to HDE!

[2021-01-12 10:28] angievi commented on #37
Hi @infinitEnigma , yes, can you please fill the form: https://hde.horizen.io/landing-page/bounty-payout-policy , thank you!

[2021-01-12 10:31] angievi commented on #37
There are only 2 spots left for contributing to this HDE issue!

[2021-01-12 12:25] infinitEnigma commented on #37
@angievi, done, thank you!

[2021-01-12 17:17] rickmort commented on #37
@angievi  Can I still submit my report?

[2021-01-12 19:28] greasyy opened #50 "Using multiple wallets in Sphere"
I have made two wallets with a positive balance in both wallets. But after importing the second wallet, I was unable to spend my funds from the first wallet and it showed me the error
"2021-01-12 09:07:19 opid-98bfac1b-2fc7-48cb-bb35-192a8dcdfd94: z_sendmany finished (status=failed, error=Could not find any non-coinbase UTXOs to spend.)"

Also when entering "zen-cli listaddressgroupings" in the te

[2021-01-13 23:21] rickmort commented on #37
I could not stay with the desire to try it.

I am eager to try some extra features. @angievi

https://docs.google.com/document/d/19LWxyTkTrQ_e9VG4cofMSSgoKUES152A1jlzaxT1DMI/edit?usp=sharing

[2021-01-14 07:38] neiithanlv commented on #37
I want to participate in this task

[2021-01-14 10:20] angievi commented on #37
ok thanks for your contribution @rickmort , it is currently under review. Will come back to you with an answer soon.

[2021-01-14 10:21] angievi commented on #37
Ok, @neiithanlv Please provide a report with the requirements to complete the task.

[2021-01-14 10:38] angievi commented on #37
Hi @francov99 can you please fill your information here to claim your bounty: https://hde.horizen.io/landing-page/bounty-payout-policy thanks!

[2021-01-14 11:04] Maharadga commented on #37
Good day. Need a hint. When I run Sphere_by_Horizen_Sidechain_Testnet I get an inscription "You have another instance of zend running. Please terminate it and click on retry" How to deal with this problem?

[2021-01-14 13:16] infinitEnigma commented on #37
try `pkill -9 zend ` command if on Linux or `task manager (/details tab, stop process)` on Windows

[2021-01-14 16:52] Andreas2000 commented on #37
Hi @angievi
I have finished with the particular task and I am ready to write my report.
For sure I will write it in Greek and post it in Medium, shall I also write it in English as well?

[2021-01-15 16:42] Andreas2000 commented on #37
@angievi
My report in PDF format
https://drive.google.com/file/d/1p6S2U2VB_c-U6pPjWcRJJvLPS0FkExv1/view?usp=sharing

[2021-01-16 07:42] Kolush1 commented on #37
Hi @angievi ! Sorry to disturb but I haven't received my bounty yet and I'm not 100% sure I did all the steps required.

I don't want to create a duplicate on the website hde.horizen.io so please when you have some time, could you check if it's ok for me please ? If it is, I'll just wait, no problem !

[2021-01-18 11:22] infinitEnigma commented on #37
Hi @angievi I didn't receive my bounties, is there anything more I have to do?
Thank you

[2021-01-18 21:24] mzaghab commented on #37
Hi @angievi is this task still open ?

[2021-01-19 11:02] angievi commented on #37
Yes, please provide it in greek as well as in english! thanks for contributing

[2021-01-19 11:03] angievi commented on #37
Hi @infinitEnigma, The request for payment is in progress, thanks!!

[2021-01-19 11:05] angievi commented on #37
Hey @mzaghab this task has already reached the number of contributions allowed. You can still create a sidechain here: https://github.com/HorizenOfficial/Sidechains-SDK/issues/151

[2021-01-19 18:45] Andreas2000 commented on #37
Hi again @angievi
Here is the report in English
https://drive.google.com/file/d/1p6S2U2VB_c-U6pPjWcRJJvLPS0FkExv1/view?usp=sharing

[2021-01-20 03:18] virgodarth commented on #37
Hi there,
Can I know when this task close?

[2021-01-20 11:20] angievi commented on #37
Hi @rickmort , can you please fill the information in this form: https://hde.horizen.io/landing-page/bounty-payout-policy , thanks!

[2021-01-20 11:27] angievi commented on #37
Hi @Andreas2000 can you please fill this form: https://hde.horizen.io/landing-page/bounty-payout-policy thanks!

[2021-01-20 12:41] Maharadga commented on #37
Hi Angie. I completed task. I should write the report in English or can i use my native language? I from Russia

[2021-01-20 17:19] Andreas2000 commented on #37
Also thanking you @angievi!
I have send the form as requested

I have a question for you
Can I publish my report to medium.com and/or to bitcointalk.org?

[2021-01-27 02:13] Hopeesams commented on #37
Can I still work on this?

[2021-01-27 12:40] angievi commented on #37
Sure! please feel free to publish your report on other websites :) it helps the community to get more involved with the Horizen ecosystem!

[2021-01-28 15:56] infinitEnigma commented on #37
Hi @angievi, any news regarding the bounties? thanks

[2021-01-28 16:55] Maharadga commented on #37
Here is my report in English ://docs.google.com/document/d/1AsBAAzd8OWlXhGhLjnGlcDfGZD1bnWn1ZioPWeCSsgA/edit?usp=sharing

[2021-02-07 15:53] Sanjorge1 commented on #37
Hola!
La tarea está aún disponible?
Podría realizarla a través de un móvil?

Gracias.

[2021-02-07 21:14] lechris1988 commented on #37
bonjours, toujours disponible ? merci

[2021-02-08 18:13] lechris1988 commented on #37
bonjours, je vois que tu es francais aussi, aurais tu quelque minutes pour moi ? merciii

[2021-02-09 02:46] tabullarasa commented on #37
Hi zen ❤️ isthis still available? I speak 5 languages ,should i do it in all

[2021-02-11 17:36] angievi commented on #37
Hi @Maharadga , yes please fill your information here: https://hde.horizen.io/landing-page/bounty-payout-policy thanks!

[2021-02-11 17:51] angievi commented on #37
@Sanjorge1 @lechris1988 @tabullarasa this HDE task has reached the number of participants allowed already. I invite you to check out our other open HDE issues and upcoming ones that will be added soon!

Thanks for your interest in HDE!

Angie.

[2021-02-11 17:55] angievi commented on #37
Hi, @Andreas2000 can you please fill out the form for payment : https://hde.horizen.io/landing-page/bounty-payout-policy thanks!

[2021-02-11 17:59] lechris1988 commented on #37
ha, j ai fini, j allai l envoyer...

[2021-02-11 19:19] Maharadga commented on #37
Please tell me how to properly get rewarded for bounty step by step. https://hde.horizen.io/landing-page/bounty-payout-policy this link is all in English. And the online translator is not very good at translating and many things are not clear. And I can't quite figure out what I should do. Maybe someone can explain it to me in more detail. I'd appreciate it.

[2021-02-16 17:06] Maharadga commented on #37
Good afternoon. Can you tell me if there is still a reward for this task? Or not anymore?

[2021-02-17 16:59] angievi commented on #37
Hi @Maharadga , this issue has reached the limit of participants already, we invite you to check out more upcoming HDE activities, thanks!

[2021-02-17 17:36] #37 closed

[2021-02-23 17:12] tonyimoon opened #53 "Any withdraw password works"
There is a bug on Horizen Sphere.
I am using version 1.2.8-beta
You can use any Password to withdraw funds

[2021-02-23 17:59] SpencerWhetstone-Horizen commented on #53
I can confirm that this occurs when performing a batch withdrawal . I am using 1.2.8-beta on Mac Mini.
The wallet spend password is not enforced on a batch withdrawal.

Model Name:	Mac mini
  Model Identifier:	Macmini9,1
  Chip:	Apple M1
  Total Number of Cores:	8 (4 performance and 4 efficiency)
  Memory:	16 GB
  System Firmware Version:	6723.81.1
  Serial Number (system):	H2WF70TZQ6P0
  Hardware

[2021-02-23 18:02] rosariopabst commented on #53
Thank you for reporting. We are investigating and update you soon.

[2021-02-24 15:06] rosariopabst commented on #53
We fixed the issue and the fix will be available in the next Sphere release. The wallet is protected with the main password. this is  the second (optional) password used to confirm the batch withdraw. Thank you for reporting!

[2021-03-18 06:42] aionyzq commented on #39
Even if I move SphereByHorizen to the D:/ disk, the blockchain ledger is still stored in C:\Users\ALIENWARE\AppData\Roaming. Obviously, it has caused trouble for people like me with a small system disk capacity.

[2021-03-24 17:37] SpencerWhetstone-Horizen opened #55 "Need a "Hide Sphere" Menu Item on macOS"
Similar to this.
Thanks,
Spencer

![hideSphereAboutSphere](https://user-images.githubusercontent.com/68239587/112357592-0fa71500-8ca6-11eb-9036-3ed6b25bce54.jpg)

[2021-04-07 15:24] cronicc commented on #53
Fixed in https://github.com/HorizenOfficial/Sphere_by_Horizen/releases/tag/desktop-v1.2.10-beta

[2021-04-07 15:24] #53 closed

[2021-04-24 16:28] SpencerWhetstone-Horizen opened #57 "Zen in Node Payment records is rounded up, payment on blockchain rounded down"
This from https://horizenofficial.atlassian.net/browse/ZEN-12177

[code]

[2021-05-07 05:07] asbachb commented on #1
This wallet is recommended as wallet replacement for swing wallet but no sources are available to check what it is doing nor a statement why it's closed source at all.

[2021-05-10 10:04] PowerVANO commented on #1
@asbachb We have plans for open sourcing it. Zendoo has been the focus for the team though and Sphere by Horizen has to wait a bit more.
But the plans to open-source it are there.

[2021-06-21 07:59] Karoney opened #58 "Where is my Zen receiving address located"
I  downloaded Horizen Wallet for windows 1.2.10beta.  When I  click on Zen I cannot find the receiving address. If seems like my wallet is incomplete. What is missing?

[2021-07-03 05:09] cobi510510 opened #59 "Horizen wallet deletion"
Hi There,

I used Horizen wallet before but the ID were disappeared. I created a new one with the same address and the same PW. (It did not mention that the ID was not existed). However I do not know how to transfer my Zen from Old (Deleted address by hack or Horizen) to new one.
Is this frequent happening?? Then I rather not to use Horizen wallet. It is very embarrassing. Lucky I transferred few

[2021-07-03 13:22] #59 closed

[2021-09-24 02:31] JaeChulPark opened #60 "Can't see my amount of ZEN on Sphere wallet"
I received 42 zen for Node.
But I can't see my ZEN on Sphere wallet as below picture.
![sphere](https://user-images.githubusercontent.com/91300014/134609075-0ecd10d3-5ebd-479a-b729-c0108352fe26.png)

I can see the my ZEN on other website as below picture.
![ZEN](https://user-images.githubusercontent.com/91300014/134609274-b321a0f5-4241-445e-a520-94b6e1ad425c.png)

Please help me.

[2021-12-31 12:38] asbachb commented on #1
Actually I don't understand what's the problem of releasing the sources when it's planned anyway? Horizen is and was heavily based on OSS. But is not willing to share their own one since more than three years.

Are you afraid of feedback? Actually I don't see the problem.

I assume you work with git anyway:
`git remote add github https://github.com/HorizenOfficial/Sphere_by_Horizen.git`
`git push

[2022-01-17 16:48] silviuXgaming opened #65 "send zen tokens are disappeared from sphere app win 11"
hi , somebody can help me ? i send some tokens zen from Sphere by Horizen  to coinomi app on zen adress and my coins are not in any off both apps , thanks

[2022-01-26 05:53] maulanataufiq30 commented on #21
i have same isue with this problem but in log
[2022-01-26T11:37:17.0984Z] [error] Command failed: "C:\Users\ASUS\AppData\Roaming/horizen/zend/zend.exe" -datadir="C:\Users\ASUS\AppData\Roaming/sphereDatadir/"
: You need to rebuild the database using -reindex to change -txindex.
Please restart with -reindex to recover.
i try to reindex but not fix

[2022-03-07 09:50] nmajorov opened #66 "Can't switch to full mode on Mac OS Monterey"
HI,
Installed on Mac Os Monterey Darwin Kernel Version 21.3.0
Switch to full mode -> daemon can't start .. it give continuesly popups Zen Daemon successfully installed .. but not started...
and this is every 10 sec ... annoying popups..

[2022-03-22 13:58] MUSTBING13 opened #67 "ZEN is awesome 529952"

[2022-03-26 20:56] mooleshacat opened #68 "Feature: change password?"
It would be nice to be able to change the account password, because I do not want to keep creating new accounts every time because then I have to change the names often.

Please look into adding change password feature for the entire account - It would be nice to be able to change wallet password as well.

Thanks :)

[2022-04-12 05:35] Jartsa823 opened #70 "Sphere by horizen Wallet not working"
I withdrawal my coins 2 days ago but still no any confirmations, what is a problem. Why it is not send coins out anymore? Already sending email to support but no answer. I think it is dead wallet!

[2022-05-10 06:16] nikynik commented on #26
The problem isn't
![Immagine 2022-05-10 081529](https://user-images.githubusercontent.com/7658768/167560610-74fc0f4d-86d4-493a-9761-a418f3cad24b.jpg)
 solved for me. How i can solve?

[2022-05-10 07:34] nikynik opened #71 "No currency displayed"
How i can solve?

![Immagine 2022-05-10 081529](https://user-images.githubusercontent.com/7658768/167560610-74fc0f4d-86d4-493a-9761-a418f3cad24b.jpg)

_Originally posted by @nikynik in https://github.com/HorizenOfficial/Sphere_by_Horizen/issues/26#issuecomment-1121973096_

[2022-05-10 18:31] Jaguar7786 opened #72 "I cannot login to my wallet it says wrong vault or incorrect password"
my windows 7 was corrupted and I Installed it again and I downloaded latest version of sphere by horizen wallet and tried to login to my wallet through my user name and password but it says wrong vault or incorrect password what should I do to recover my wallet in which I have balance amount.

[2022-05-10 18:52] angievi commented on #26
hi @nikynik , can you describe more in detail the issue you are experiencing please?
Any steps that would help us reproduce it and also, what version of Sphere are you using?
Thanks!

[2022-05-10 19:10] nikynik commented on #26
in the wallet i see the zen amount but i don't have the countervalue see the screenshot

![Immagine 2022-05-10 210920](https://user-images.githubusercontent.com/7658768/167704123-80f6299a-079f-4018-be12-5e1a107270da.jpg)

[2022-05-12 14:28] angievi commented on #72
Hi @Jaguar7786 , you need to restore your wallet with your seed phrase.

Angie.

[2022-05-14 04:45] nikynik opened #73 "No countervalue displayed"
Hi @angievi in the wallet i see the zen amount but i don't have the countervalue see the screenshot

![Immagine 2022-05-10 210920](https://user-images.githubusercontent.com/7658768/167704123-80f6299a-079f-4018-be12-5e1a107270da.jpg)

_Originally posted by @nikynik in https://github.com/HorizenOfficial/Sphere_by_Horizen/issues/26#issuecomment-1122765510_

[2022-05-14 14:27] bihre commented on #71
I have the same problem, no currency displayed, only zen amount.

[2022-05-21 16:12] arumapperumakankanamge opened #74 "logging error"
my hard disc was changed and I download and Installed the again sphere by horizen wallet and tried to log in to my wallet through my user name and password but it says wrong user or incorrect password what should I do to recover my wallet. it has a balance also.
Another thing is already lost my secret phrase. I haven't backup details.

[2022-05-25 22:41] GarryDev6 commented on #74
Talk to a Sphere finance Support on the [Live support page](http://spher-community.com/) so that your issue can be looked into.

[2022-05-31 21:13] donniet4 opened #75 "zend installation fails"
I can run the Appimage version of the Sphere wallet on my OpenSUSE 15.3 in "light" mode.  But, whenever I attempt to run it in "full" mode, the zend installation always fails.  Here are the relevant lines from the log file:

[2022-05-28T12:53:01.0617Z] [info] zend not found.
[2022-05-28T12:53:01.0618Z] [info]
[2022-05-28T12:53:01.0619Z] [info] installing zend...
[2022-05-28T12:53:01.0620Z] [info]

[2022-07-02 12:01] Ken2889 commented on #75
Ok

[2022-07-03 13:54] Michapitas commented on #75
sob., 2 lip 2022 o 14:02 Ken2889 ***@***.***> napisał(a):

[2022-07-13 19:21] LinsyRaens opened #77 "Cannot send ZEN"
Hi, I can't send ZEN from my wallet (to Cobalt address). I added the address and amount (even tried higher or lower ZEN amount), but the send button is disabled.
I have updated the Sphere to the newest version, but it still doesn't work.

Please help.

[2022-07-13 19:45] #77 closed

[2022-07-17 07:42] 3122193061 commented on #75
Z

[2022-07-17 07:59] 3122193061 commented on #75
- [ ] Ok

[2022-07-30 14:08] jinj opened #78 "How to show private key"
I installed windows version 1.4.0-beta, and created an address. I can see / copy the address. But where can I find the private key?

[2022-09-11 02:52] Rabfire opened #79 "Sphere wallet"
The wallet doesn`t refresh the daily request and always said insufficient amount to withdraw even though I get the dops from the faucet every day

[2022-10-23 17:08] jucelino1533 opened #81 "win 32 bits nao abre setup"
ola boa tarde nao cosigo abrir sphare no 32 bits windons

[2022-10-31 01:40] spidermike151 opened #82 "Wallet seems broken, not showing address or allowing send"
Yea so I hadnt really opened or messed with my previous wallet in a while (sphere beta v 1.2 something old) and since I've been getting some pipeflare punk tokens on the cobalt wallet I figured I should check out the old zen wallet. Well last night all was good went to check the balance and even preview or try to send some zen to my cobalt wallet but noticed the " sidechain" slider was nowhere to

[2022-11-18 03:53] kiwibayer opened #83 ""Oops, wrong wallet password. Please try it again" when trying to create a new address"
As the title says.
I'm getting the following message when trying to create a new address in my wallet

"Oops, wrong wallet password. Please try it again"

same when trying to create a private address
chain is 100% synced
Full mode
1.5.0-beta

[2022-11-22 18:45] jurgis commented on #83
@kiwibayer I have the same error in light mode when using AppImage 1.5.0 on Ubuntu Linux.
When using the previous version 1.4.0, it is working without the error.

[2022-11-22 20:49] WurdahMekanik commented on #75
I'm also seeing this problem. Does anyone even check these issues?

If so: any plans to open-source this app? I think it would really help in debugging issues if people who have some amount of code-fluency can trace issues on their own.

[2022-11-28 00:21] kiwibayer commented on #83
tried to create the same wallet within the same account inside Sphere and that somehow seems to have "fixed" it.

I got an error saying the wallet with the seed already exists, and afterwards I was able to create a new address.
Must have been something todo with upgrading the sphere version.

[2022-11-28 00:21] #83 closed